
.whole {
    display: flex;
    background-color: #f4eded;
  align-items: flex-start; /* Align items at the top */
  justify-content: space-between; /* Align everything to the start */
}

.image-container {
  flex: 0 0 auto; /* Prevent image from growing larger than its content */
  padding-top: 100px;
  max-width: 550px; /* Adjust the image size */
  left:100px;
  padding-left: 100px;
}

.image-container img {
  width: 100%; /* Make the image take up full width of its container */
  height: 500px; /* Maintain aspect ratio */
  top: 500px;
  left:100px;
}

.container {
  flex: 1;
  max-width: 600px; /* Set a max-width for the form */
  display: flex;
  flex-direction: column;
  padding-left: 500px;
}

.container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(135, 135, 208);
  /* width: 90%; */
  margin: 40px;
  position: relative;
  /* padding-left: 40px; */
  /* padding-right: 100px; */
  /* left: 100px; */
  right: 50px;
}

.heading {
  color: #2196f3;
  font-weight: bold;
  margin-bottom: 20px;
}



.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  /* padding-right: 20px; */
  /* padding-left: 100px; */
}

.label {
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 4px solid rgb(213, 212, 228);
  border-radius: 20px;
  color: #333;
}

.textarea {
  width: 100%;
  padding: 10px;
  border: 4px solid rgb(213, 212, 228);
  border-radius: 20px;
  height: 100px;
  color: #333;
}

.button {
  background-color: #2196f3;
  color: #f3eeee;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.1);
}

/* Error Box Styling */
.error-box {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #f39090;
  color: #f30808;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 200px;
  text-align: center;
  z-index: 1000;
}

.error-box-content {
  display: flex;
  justify-content: space-between;
  background-color: #f39090;
}

.message-content {
  background-color: #f69292; /* Adjusted for visibility */
  color: #f4ebeb;
  padding: 10px;
  border-radius: 5px;
  flex: 1;
}

.close-btn {
  background-color: transparent;
  border: none;
  color: #f3eeee;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
